{% extends "base.html" %}
{% block content %}

<h1>Crypto tools</h1>

<h4> <span class="mw-headline" id="TOR"> TOR </span></h4>
<li> Linux, Windows, MacOS and Smartphones:
<ul><li> <a href="https://www.torproject.org/download/download-easy.html.en" class="external text" rel="nofollow">TOR</a>
</li></ul>
<h4> <span class="mw-headline" id="PGP"> PGP </span></h4>
<ul><li> Linux:

<ul><li> <a href="http://enigmail.mozdev.org/home/index.php.html" class="external text" rel="nofollow">Enigmail</a> plugin for Thunderbird
</li><li> <a href="http://projects.gnome.org/seahorse/" class="external text" rel="nofollow">Seahorse</a> (GNOME User Interface)
</li><li> <a href="http://www.gnupg.org" class="external text" rel="nofollow">GNU Privacy Guard</a> (console app)
</li></ul>
</li><li> Windows:
<ul><li> <a href="http://www.gpg4win.org/" class="external text" rel="nofollow">GPG4Win</a>

</li></ul>
</li><li> MacOS:
<ul><li> <a href="http://macgpg.sourceforge.net/" class="external text" rel="nofollow">Mac Privacy Guard</a>
</li></ul>
</li></ul>
<h4> <span class="mw-headline" id="OTR"> OTR </span></h4>
<ul><li> Linux:
<ul><li> <a href="http://pidgin.im/" class="external text" rel="nofollow">Pidgin</a> + <a href="http://www.cypherpunks.ca/otr/index.php#downloads" class="external text" rel="nofollow">OTR plugin</a>

</li><li> <a href="http://mcabber.com/" class="external text" rel="nofollow">mcabber</a> - small and better code quality, no GUI though
</li></ul>
</li><li> Windows:
<ul><li> <a href="http://pidgin.im/" class="external text" rel="nofollow">Pidgin</a> + <a href="http://www.cypherpunks.ca/otr/index.php#downloads" class="external text" rel="nofollow">OTR plugin</a>
</li><li> <a href="http://mcabber.com/" class="external text" rel="nofollow">mcabber</a> - small and better code quality, no GUI though

</li></ul>
</li><li> MacOS:
<ul><li> <a href="http://adium.im/" class="external text" rel="nofollow">Adium</a> (OTR plugin included. Remember to disable logging)
</li><li> <a href="http://mcabber.com/" class="external text" rel="nofollow">mcabber</a> - small and better code quality, no GUI though
</li></ul>
</li></ul>
<h4> <span class="mw-headline" id="Tails"> Tails </span></h4>

<p>It is a complete operating-system designed to be used from a CD or a USB stick independently of the computer's original operating system. It is Free Software and based on Debian GNU/Linux.
Tails contains the tools listed above preconfigured in a secure fashion.
<a href="https://tails.boum.org" class="external text" rel="nofollow">Get Tails here</a></p>

<hr />

<p>A <a href="http://www.diriwa.org">DiRiWa</a> joint campaign with the 
<ul>
  <li><a href="http://eff.org">Electronic Frontier Foundation</a>,</li>
  <li><a href="http://ffii.org">Free Software Foundation Europe</a>,</li>
  <li><a href="http://edri.org">European Digital Rights</a>,</li>
  <li><a href="http://fsfe.org">Foundation for a Free Information Infrastructure</a>,</li>
  <li><a href="http://laquadrature.net">La Quadrature du Net</a>,</li>
  <li><a href="http://immi.is">International Modern Media Institute</a>,</li>
  <li><a href="http://telecomix.org">Telecomix</a>.</li>
</ul>
{% endblock %}
