{% extends "base.html" %}
{% block scripts %}
<script type="text/javascript" src="/kopo.js"> </script>
{% endblock %}
{% block content %}
<div id="kopo"> </div>
<p>Most vendors and service providers show great disrespect for their customers nowadays. Almost none of these provides setups that care about - let alone maximize - users freedom and respect for their basic rights. The customers of these businesses should be called "used" or "exploited" rather than "user". Instead of educating users and enabling them, the industry is actively exploiting them. Very much akin to the native Americans trading their lands for whiskey and shiny pebbles, after the awakening no whiskey, only headaches and useless pebbles will be all that remain in exchange for the freedom that the technology once promised.</p>
<p>Negligence and intentional cost-optimizing externalizes and inflates costs for society. Privacy violations exploiting the lack of protections are the basis for business models of many online companies. Users are being disenfranchised of their control over their devices, so they are enticed to buy continuous upgrades which only allow for more exploitation of them. The economics of this model is not only detrimental to freedoms, but also hugely wasteful.</p>

<p>Before all rights and freedoms are eroded we need to change this, instead of <b>users exploited by technology</b> we need to empower everyone to become <b>masters over technology</b>.</p>

<p>As a first step we need to inform users of the level they're being exploited by their device and OS vendors and show them alternatives and additional tools how to reclaim their rights and freedoms.</p>

<h1>Freedoms inside</h1>
<ul>
<li>Get your free software systems here</li>
<li>Get your <a href="/crypto.html">encryption tools here</a></li>
<li>Get your anonymity tools here</li>
<li>Get your free hardware tools here</li>
</ul>
<hr />

<p>A <a href="http://www.diriwa.org">DiRiWa</a> joint campaign with the 
<ul>
  <li><a href="http://www.tacticaltech.org/">Tactical Technology Collective</a>,</li>
  <li><a href="http://immi.is">International Modern Media Institute</a>,</li>
  <li><a href="http://eff.org">Electronic Frontier Foundation</a>,</li>
  <li><a href="http://ffii.org">Free Software Foundation Europe</a>,</li>
  <li><a href="http://edri.org">European Digital Rights</a>,</li>
  <li><a href="http://fsfe.org">Foundation for a Free Information Infrastructure</a>,</li>
  <li><a href="http://laquadrature.net">La Quadrature du Net</a>,</li>
  <li><a href="http://telecomix.org">Telecomix</a>.</li>
</ul>
{% endblock %}
